################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Giorno_1/.vs/Esercizio_17_06/FileContentIndex
/Giorno_2/Esercitazione_18_06/.vs/Esercitazione_18_06
